<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salena Youhana Portfolio Website</title>

    <script src="https://kit.fontawesome.com/4f44697727.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="file:///Users/salenayouhana/Downloads/favicon_io/favicon.ico" type="image/png">
    <link rel="stylesheet" href="../public/css/style.css">
    
</head>
<body>
    <header>
        <nav id="nav_bar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="./my_resume">Resume</a></li>
                <li><a href="./my_fun_facts">About Me</a></li>
                <li><a href="./blog">Blog</a></li>
                <li><a href="./trivia">Trivia</a></li>
            </ul>
        </nav>
        <h1>Blog</h1>
    </header>

    <div class="apple">
    <iframe src="https://www.macworld.com/article/344378/apple-fall-2021-new-products.html" title="des" width="700" height="500"></iframe>
    <p class="apple_description">This article describes what Apple has released in the past months. There are many new 
        new additions to the catalog. The new iPhone 13 came out and there are even new AirPods. It explains how the new 
    macbooks are going to have old additions like HDMI port, an SD card reader, and more thunderbolt ports which is good to hear because
mine does not have most of these features. </p>
    </div>
    
    <body>
        <div class="container">
            <label for="comment" name="comment">LEAVE A COMMENT</label>
            <textarea id="comment"></textarea>
            <button id="addComments">Submit</button>
            <div id="allComments"></div>
        </div>
        </body>
<hr>
<footer>
    <a href="mailto:syouhana@oakland.edu" aria-label="Email Salena">
        <i class="fas fa-envelope"></i>
    </a>
    <a href = "https://Instagram.com"> <i class="fab fa-instagram">Instagram</i></a>
    <a href = "https://Twitter.com"> <i class="fab fa-twitter">Twitter</i></a>
    <div class="footer_name"> &copy;Salena Youhana, 2021 </div>
    
        
</footer>

<script src="../js/blog.js"></script>
</body>
</html>