<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salena Youhana Portfolio Website</title>

    <script src="https://kit.fontawesome.com/4f44697727.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href=".//img/favicon.ico" type="image/png">
    <link rel="stylesheet" href="../public/css/style.css">


</head>
<body>
    <header>
        <nav id="nav_bar" class="nav_bar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="./my_resume">Resume</a></li>
                <li><a href="./my_fun_facts">About Me</a></li>
                <li><a href="./blog">Blog</a></li>
                <li><a href="./trivia">Trivia</a></li>
            </ul>
        </nav>
        <h1>Salena Youhana Portfolio Page</h1>
    </header>

<section>
    <h2>Picture of me</h2>
        <figure>
            <img src="../public/img/salena.jpg" alt="Photo of Salena Youhana" class="sal" width="426.5" height="228.75">
        </figure>
</section>

<br>
<blockquote>"Work hard in silence, let your success be your noise." - Frank Ocean</blockquote>
</br>

<main>
    <h3>Introducing Myself</h3>
    <p class="description">My name is Salena Youhana. I am a Junior at Oakland University
        and my major is Information Technology. I am from Sterling Heights, Michigan and I am 20 years old.<br>
        I do not have much professional experience but I am currently looking for an
        IT internship. I am a full time student and I am expected to graduate in Spring of 2023. <br>
        To know more about me, check out my <a href="html/my_resume.html">Resume Page</a> and <a href="html/my_fun_facts.html">Fun Facts Page</a> .
    </p>

    <div class="progress">
        <label for="credit_progess">Progress to Bachelor's Degree</label>
        <progress id="credit_progress" min=0 max=128 value=82>.64</progress>
    </div>
</main>

<hr>
<footer>
    <a href="mailto:syouhana@oakland.edu" aria-label="Email Salena">
        <i class="fas fa-envelope"></i>
    </a>
    <a href = "https://Instagram.com"> <i class="fab fa-instagram">Instagram</i></a>
    <a href = "https://Twitter.com"> <i class="fab fa-twitter">Twitter</i></a>
    <div class="footer_name"> &copy;Salena Youhana, 2021 </div>

    
</footer>


</body>
</html>