<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salena Youhana Portfolio Website</title>

    <script src="https://kit.fontawesome.com/4f44697727.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="file:///Users/salenayouhana/Downloads/favicon_io/favicon.ico" type="image/png">
    <link rel="stylesheet" href="../public/css/style.css">

</head>
<body>
    <header>
        <nav id="nav_bar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="./my_resume">Resume</a></li>
                <li><a href="./my_fun_facts">About Me</a></li>
                <li><a href="./blog">Blog</a></li>
                <li><a href="./trivia">Trivia</a></li>
            </ul>
        </nav>
        <h1>Some fun facts about me</h1>
    </header>
    
<section>
    <h2>Favorite Book</h2>
    <figure id="book">
        <img src="../public/img/HungerGames.jpg" alt="Cover of my favorite book The Hunger Games" width="264" height="400">
        <figcaption id="book_caption">I like this book because there is a lot of action and drama in it.<br>
            It is a dystopian novel but also has a lot of violence in it which makes it interesting.
        </figcaption>
    </figure>
</section>

<main id="page_main_content">
    <section id="music">
        <div id="audio_files">
            <h2>Current favorite song</h2>
            <p class="entertainment">Take My Breath-The Weeknd</p>
            <audio src="../public/audio/The_Weeknd_-_Take_My_Breath.mp3" controls>
                Audio file not supported by your browser.
            </audio>
            <a href="https://open.spotify.com/album/6DmXKM13nNgIIby2FdK0f8" class="file"><br>Listen to Take My Breath on Spotify</a>
        </div>
    </section>
</main>

<section id="series">
    <h2>Current Favorite Series</h2>
    <p class="entertainment">All American</p>
    <div class="clip">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/BwT989C_GuM" title="YouTube video player" frameborder="0" allow="accelerometer; 
    autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>

<hr>
<footer>
    <a href="mailto:syouhana@oakland.edu" aria-label="Email Salena">
        <i class="fas fa-envelope"></i>
    </a>
    <a href = "https://Instagram.com"> <i class="fab fa-instagram">Instagram</i></a>
    <a href = "https://Twitter.com"> <i class="fab fa-twitter">Twitter</i></a>
    <div class="footer_name">&copy;Salena Youhana, 2021</div>
</footer>
    
</body>
</html>