<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salena Youhana Portfolio Website</title>

    <script src="https://kit.fontawesome.com/4f44697727.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="file:///Users/salenayouhana/Downloads/favicon_io/favicon.ico" type="image/png">
    <link rel="stylesheet" href="../public/css/style.css">

</head>
<body>
    <header>
        <nav id="nav_bar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/my_resume">Resume</a></li>
                <li><a href="/my_fun_facts">About Me</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="./trivia">Trivia</a></li>
            </ul>
        </nav>
        <h1>Salena Youhana-Resume</h1>
    </header>


<h2 id="resume">Contact Information</h2>
    <p>42432 Beechwood Dr, Sterling Heights, MI 48314</p>
    <p>syouhana@oakland.edu</p>
    <p>586-854-4037</p>

<section>
    <h2 id="resume">Objective</h2>
        <p>Motivated junior at Oakland University seeking an IT internship for Summer 2022.</p>
</section>


<h2 id="resume">Professional experience</h2>
<h4>October 2018-August 2019, Environmental Attendant Co-op, Beaumont Hospital, Troy, MI</h4>
    <p id="job_description">Sanitizied rooms and restocked items. Cordinated with other staff members and did daily tasks.</p>


<section id="tables">
    <h2 id="resume">Educational experience</h2>

    <table id="education_table" border="2">
        <tr>
            <th>Start-End</th>
            <th>Degree</th>
        </tr>
        <tr>
            <td>Fall 2019-Spring 2023</td>
            <td>Bachelor of Science in Information Technology <br>
            Oakland University Rochester, MI</td>
        </tr>
    </table>   
</section>

<section id="activities">
    <h2 id="resume">Extracurricular Interests and Hobbies</h2>
    <p id="Extra">Reading</p>
        <ol>I like reading a lot of books. I like fiction books that involve drama.</ol>
    <p id="Extra">Volunteering at Church</p>
        <ol>In the summer I volunteer at my church for the kids summer camp. I supervise the kids and plan activities for them.</ol>
    <p id="Extra">Drawing</p>
        <ol>I like drawing and painting random things. I used to do art a lot when i was younger.</ol>
</section>

<hr>
<footer>
    <a href="mailto:syouhana@oakland.edu" aria-label="Email Salena">
        <i class="fas fa-envelope"></i>
    </a>
    <a href = "https://Instagram.com"> <i class="fab fa-instagram">Instagram</i></a>
    <a href = "https://Twitter.com"> <i class="fab fa-twitter">Twitter</i></a>
    <div class="footer_name">&copy;Salena Youhana, 2021</div>
</footer>

    
 
</body>
</html>