<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salena Youhana Portfolio Website</title>

    <script src="https://kit.fontawesome.com/4f44697727.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href=".//img/favicon.ico" type="image/png">
    <link rel="stylesheet" href="../public/css/style.css">


</head>
<body>
    <header>
        <nav id="nav_bar" class="nav_bar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="./my_resume">Resume</a></li>
                <li><a href="./my_fun_facts">About Me</a></li>
                <li><a href="./blog">Blog</a></li>
                <li><a href="./trivia">Trivia</a></li>
            </ul>
        </nav>
        <h1>Trivia Page</h1>
    </header>

    <form id="triviaq" name="triviaq">
        <br>
        <span id="question">What is Oakland University's Mascot?</span>
        <p>
            <div>A) Spartan</div>
            <div>B) Wolverine</div>
            <div>C) Grizzly</div>
            <div>D) Mustang</div>
        </p>
        <input id="textbox" type="text" name="q1" placeholder="Choose A, B, C, or D">
        <input id="button" type="button" value="Submit" onclick="score();">

        <br>
        <span id="question">How many states are in the US?</span>
        <p>
            <div>A) 51</div>
            <div>B) 50</div>
            <div>C) 49</div>
            <div>D) 48</div>
        </p>
        <input id="textbox" type="text" name="q2" placeholder="Choose A, B, C, or D">
        <input id="button" type="button" value="Submit" onclick="score();">

        <br>
        <span id="question">Which ocean is off the California coast?</span>
        <p>
            <div>A) Pacific</div>
            <div>B) Atlantic</div>
            <div>C) Artic</div>
            <div>D) Indian</div>
        </p>
        <input id="textbox" type="text" name="q3" placeholder="Choose A, B, C, or D">
        <input id="button" type="button" value="Submit" onclick="score();">
        
        <br>
        <span id="question">What holiday is on December 25th?</span>
        <p>
            <div>A) Halloween</div>
            <div>B) Christmas</div>
            <div>C) Easter</div>
            <div>D) Thanksgiving</div>
        </p>
        <input id="textbox" type="text" name="q4" placeholder="Choose A, B, C, or D">
        <input id="button" type="button" value="Submit" onclick="score();">

        <br>
        <span id="question">What is 25*6?</span>
        <p>
            <div>A) 100</div>
            <div>B) 115</div>
            <div>C) 130</div>
            <div>D) 150</div>
        </p>
        <input id="textbox" type="text" name="q5" placeholder="Choose A, B, C, or D">
        <input id="button" type="button" value="Submit" onclick="score();">
        
        </form>


        <div id="submit">
        <p id="correct"></p>
        </div>
        <script src="../public/js/trivia.js"></script>


<hr>
<footer>
    <a href="mailto:syouhana@oakland.edu" aria-label="Email Salena">
        <i class="fas fa-envelope"></i>
    </a>
    <a href = "https://Instagram.com"> <i class="fab fa-instagram">Instagram</i></a>
    <a href = "https://Twitter.com"> <i class="fab fa-twitter">Twitter</i></a>
    <div class="footer_name"> &copy;Salena Youhana, 2021 </div>

    
</footer>


</body>
</html>